@page
@model PROJECT_PRN221.Pages.adminsite.order.IndexModel

@{
    ViewData["Title"] = "Order";
}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Star Admin2 </title>
        <link rel="stylesheet" href="~/admin/vendors/feather/feather.css">
        <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="~/admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/typicons/typicons.css">
        <link rel="stylesheet" href="~/admin/vendors/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="~/admin/css/vertical-layout-light/style.css">
        <link rel="shortcut icon" href="~/admin/images/favicon.png" />
        <style>
            a {
                all: unset;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
                <div class="container-scroller">

                <partial name="/Pages/_HeaderAdminsite.cshtml" model="new PROJECT_PRN221.Pages._HeaderAdminsiteModel()"/>

                <partial name="/Pages/_LeftPageAdminSite.cshtml" model="new PROJECT_PRN221.Pages._LeftPageAdminSiteModel()"/>

                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-sm-flex justify-content-between align-items-start">
                                        <div>
                                            <h4 class="card-title card-title-dash">Order</h4>
                                        </div>
                                        <div>
                                            <a onclick="exportToExcel()" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                                        </div>
                                    </div>
                                    <div class="d-sm-flex justify-content-evenly">
                                        <p class="badge badge-info"><a href="/adminsite/order/Index?service=displayOrderStatus&status=Wait">Wait: @Model.Wait</a></p>
                                        <p class="badge badge-warning"><a href="/adminsite/order/Index?service=displayOrderStatus&status=Process">Process: @Model.Process </a></p>
                                        <p class="badge badge-success"><a href="/adminsite/order/Index?service=displayOrderStatus&status=Done">Done: @Model.Done </a></p>
                                        <p class="badge badge-danger"><a href="/adminsite/order/Index?service=displayOrderStatus&status=Cancel">Cancel: @Model.Cancel</a></p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Customer Name</th>
                                                    <th>Name Receiver</th>
                                                    <th>Phone Receiver</th>
                                                    <th>Address Receiver</th>
                                                    <th>Total Price</th>
                                                    <th>Order Date</th>
                                                    <th>Payment</th>
                                                    <th>Status</th>
                                                    <th>Detail</th>
@*                                                        <c:if test="${status.equalsIgnoreCase('Wait')}">
                                                        <th>Update Status</th>
                                                        </c:if>
                                                        <c:if test="${status.equalsIgnoreCase('Process')}">
                                                        <th>Update Status</th>
                                                        </c:if>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                        @foreach (var item in Model.Order)
                                        {
                                                    <tr>
                                                        <td>@item.OrderId</td>
                                                        <td>@item.Customer.Name</td>
                                                        <td>@item.NameReceiver</td>
                                                        <td>@item.PhoneReceiver</td>
                                                        <td>@item.AddressReceiver</td> 
                                                        <td class="number">@item.TotalPrice</td> 
                                                        <td>@item.OderDate</td> 
                                                        <td>@item.Payment</td> 
                                                        <td>
                                                         <div class="@(item.Status.Equals("Wait") ? "badge badge-opacity-info" :
                                                                  item.Status.Equals("Process") ? "badge badge-opacity-warning" :
                                                                  item.Status.Equals("Done") ? "badge badge-opacity-success" :
                                                                  item.Status.Equals("Cancel") ? "badge badge-opacity-danger" :
                                                                  "default-class")">
                                                        @item.Status
                                                        </div>
                                                        </td> 

                                                        <td><div class="badge badge-info"><a href="/adminsite/orderdetail/?id=@item.OrderId">Detail</a></div></td>  
@*
                                                        <c:if test="${status.equalsIgnoreCase('Wait')}">
                                                            <td> 
                                                                <form method="post" action="OrderController"> 
                                                                    <input type="hidden" name="service" value="updateStatus">
                                                                    <input  type="hidden" name="order_id" id="order_id" value="${d.order_id}"> 
                                                                    <label  for="status">Status: </label> 
                                                                    <Select class="input" name="status" id="status"> 
                                                                        <option selected value="Wait">Wait</option>
                                                                        <option value="Process">Process</option> 
                                                                        <option value="Cancel">Cancel</option> 
                                                                    </Select> 
                                                                    <input type="submit" value="Update">
                                                                </form> 
                                                            </td>
                                                        </c:if>
                                                        <c:if test="${status.equalsIgnoreCase('Process')}">
                                                            <td> 
                                                                <form method="post" action="OrderController"> 
                                                                    <input type="hidden" name="service" value="updateStatus">
                                                                    <input  type="hidden" name="order_id" id="order_id" value="${d.order_id}"> 
                                                                    <label  for="status">Status: </label> 
                                                                    <Select class="input" name="status" id="status"> 
                                                                        <option  value="Wait">Wait</option>
                                                                        <option selected value="Process">Process</option> 
                                                                        <option value="Done">Done</option>
                                                                    </Select> 
                                                                    <input type="submit" value="Update">
                                                                </form> 
                                                            </td>
                                                        </c:if>*@

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                     @*PAGING*@ 

                                    <div style="text-align: center">
                                        @if (Model.Order.PageIndex > 1)
                                        {
                                            <a href="?pageIndex=@(Model.Order.PageIndex - 1)">Previous</a>
                                        }
                                        else
                                        {
                                            <span>Previous</span>
                                        }

                                        @for (int i = 1; i <= Model.Order.TotalPages; i++)
                                        {
                                            @if (i == Model.Order.PageIndex)
                                            {
                                                <span>@i</span>
                                            }
                                            else
                                            {   
                                                <a href="?pageIndex=@i">@i</a>
                                                @*@if (Model.Admin. == null)
                                                {
                                                    <a href="?page=@i">@i</a>
                                                }*@
                                            }
                                        }

                                        @if (Model.Order.PageIndex < Model.Order.TotalPages)
                                        {
                                            <a href="?pageIndex=@(Model.Order.PageIndex + 1)">Next</a>
                                        }
                                        else
                                        {
                                            <span>Next</span>
                                        }
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
        <script src="~/admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/admin/js/off-canvas.js"></script>
        <script src="~/admin/js/hoverable-collapse.js"></script>
        <script src="~/admin/js/template.js"></script>
        <script src="~/admin/js/settings.js"></script>
        <script src="~/admin/js/todolist.js"></script>
            <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script>
                                                    function exportToExcel() {
                                                        const table = document.getElementById("myTable");
                                                        const wb = XLSX.utils.table_to_book(table, {sheet: "SheetJS"});
                                                        const wbout = XLSX.write(wb, {bookType: "xlsx", type: "array"});
                                                        saveAsExcelFile(wbout, "order.xlsx");
                                                    }

                                                    function saveAsExcelFile(buffer, fileName) {
                                                        const data = new Blob([buffer], {type: "application/octet-stream"});
                                                        const link = document.createElement("a");
                                                        link.href = window.URL.createObjectURL(data);
                                                        link.download = fileName;
                                                        link.click();
                                                    }
                                                    const numberElements = document.getElementsByClassName('number');
                                                    for (let i = 0; i < numberElements.length; i++) {
                                                        const numberElement = numberElements[i];
                                                        const number = parseFloat(numberElement.innerText);
                                                        const formattedNumber = formatCurrency(number);
                                                        numberElement.innerText = formattedNumber;
                                                    }

                                                    function formatCurrency(value) {
                                                        const intValue = parseInt(value);
                                                        const formattedValue = intValue.toLocaleString('vi-VN', {
                                                            style: 'currency',
                                                            currency: 'VND',
                                                        });
                                                        return formattedValue;
                                                    }
    </script>
    </body>
</html>